<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Tours Data</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">dashboard</a></li>
                <li class="breadcrumb-item active text-muted" aria-current="page">create form</li>
            </ol>
        </nav>
    </div>
    <div class="col-12" id="alert-container"></div>
    <div class="row mb-4">
        <div class="col-12">
            <form id="search-tour" class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input id="input-tour" type="text" class="form-control" placeholder="Enter tour ID" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Table</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="form-check form-check-muted m-0">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" />
                                            </label>
                                        </div>
                                    </th>
                                    <th>_id</th>
                                    <th>Name</th>
                                    <th>Date Go</th>
                                    <th>Data Back</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% tours.forEach((tour, index) => { %>
                                <tr>
                                    <td>
                                        <div class="form-check form-check-muted m-0">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" />
                                            </label>
                                        </div>
                                    </td>
                                    <td><%= tour._id %></td>
                                    <td><%= tour.name %></td>
                                    <td><%= tour.dateGo %></td>
                                    <td><%= tour.dateBack %></td>
                                    <td><%= tour.price %></td>
                                    <td>
                                        <a
                                            href="https://travel-web-ks0z.onrender.com/api/tour/edit-tour/<%= tour._id %>"
                                            class="btn btn-outline-primary"
                                            >Edit</a
                                        >
                                        <a
                                            href="javascript:void(0);"
                                            class="btn btn-outline-danger delete-tour-link"
                                            data-tour-id="<%= tour._id %>"
                                            >Delete</a
                                        >
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const searchForm = document.getElementById('search-tour');
    function displaySearchResults(tour) {
        const searchResultsContainer = document.querySelector('.card-body');
        searchResultsContainer.innerHTML = '';
        if (tour.length === 0) {
            searchResultsContainer.innerHTML = `
                <p>Tour does not exists </p>
            `;
        } else {
            searchResultsContainer.innerHTML = `
            <h4 class="card-title">Search Result</h4>
            <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>_id</th>
                                    <th>Name</th>
                                    <th>Date Go</th>
                                    <th>Data Back</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                            </tbody>
                        </table>
                    </div>
            `;
            const tbody = document.querySelector('.tbody');
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${tour._id}</td>
                <td>${tour.name}</td>
                <td>${tour.dateGo}</td>
                <td>${tour.dateBack}</td>
                <td>${tour.price}</td>
                <td>
                    <a
                        href="https://travel-web-ks0z.onrender.com/api/tour/edit-tour/${tour._id}"
                        class="btn btn-outline-primary"
                        >Edit</a
                    >
                    <a
                        href="javascript:void(0);"
                        class="btn btn-outline-danger delete-tour-link"
                        data-tour-id="${tour._id}"
                        >Delete</a
                    >
                </td>
            `;
            tbody.appendChild(row);
        }
    }
    searchForm.addEventListener('submit', async function (event) {
        event.preventDefault();
        const searchInput = document.getElementById('input-tour').value;
        try {
            const response = await fetch(`https://travel-web-ks0z.onrender.com/api/tour/search-tour/${searchInput}`);
            const searchData = await response.json();
            console.log(searchData.data);
            if (response.ok) {
                displaySearchResults(searchData.data);
            } else {
                const alertContainer = document.getElementById('alert-container');
                alertContainer.innerHTML = `
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> Failed to search tour ${searchInput}. Please try again.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                `;
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('.delete-tour-link');
        deleteButtons.forEach((button) => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                const tourId = this.getAttribute('data-tour-id'); // Lấy id từ data-place-id
                fetch(`https://travel-web-ks0z.onrender.com/api/tour/delete-tour/${tourId}`, {
                    method: 'DELETE',
                })
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error('Failed to delete tour');
                        }
                        return response.json();
                    })
                    .then((data) => {
                        // console.log(data.message);
                        alert('Successfully deleted');
                        window.location.reload();
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            });
        });
    });
</script>
