<%- include('./header.ejs') %>
<div class="wrapper">
    <%- include('../partials/header.ejs') %>
    <main><%- body %></main>
    <%- include('../partials/footer.ejs') %>
</div>
<%- include('./footer.ejs') %>
